nodejs-api-quickstart/node_modules
swagger-mock-server/mockserver/node_modules
src/agilite-node-red-docker/node_modules
src/agilite-node-red-docker/flows
src/react-to-do-docker/node_modules
bundle.js
bundle.js.map
src/web-socket-server-docker/node_modules
anrd-config.json
domino-rest-api/todo/buildNumber.properties
domino-rest-api/todo/feature/buildNumber.properties
domino-rest-api/todo/update/buildNumber.properties
domino-rest-api/todo/plugin/buildNumber.properties


cloudant-rest-api/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
cert-manager-issuer-prod-azure.yml
cert-manager-issuer-staging-azure.yml
cert-manager-nodered-agilite-io-prod-azure.yml
cert-manager-nodered-agilite-io-staging-azure.yml
configurations/cert-manager-portal-agilite-io-prod-azure.yml
configurations/cert-manager-portal-agilite-io-staging-azure.yml
configurations/ingress-agilite-io-prod-azure.yml
configurations/ingress-agilite-io-prod-final-azure.yml
configurations/ingress-agilite-io-staging-azure.yml
configurations/ingress-agilite-io-staging-final-azure.yml
configurations/cert-manager-api-agilite-io-prod-azure.yml
configurations/cert-manager-todo-agilite-io-prod-azure.yml
configurations/cert-manager-wstodo-agilite-io-prod-azure.yml
cert-manager-todo-agilite-io-staging-azure.yml
cert-manager-ws-agilite-io-prod-azure.yml
package-lock.json
cert-manager-botbuilder-agilite-io-prod-azure.yml
anrd-config-agilite.json
anrd-config-domino.json
